@if (!appState.appReady()) {
  <div class="loading-overlay">
    <img class="overlay-logo" src="owl-logo.png" alt="Merva logo" />
    <i class="fa-solid fa-spinner fa-spin overlay-spinner"></i>
  </div>
}
<div class="layout">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="logo">      
        <img class="logo-image" src="owl-logo.png" alt="Merva logo"/>      
        <h1 class="brand-name">Mervane =)</h1>
    </div>

    <!-- <nav>
      @for (item of navItems; track item.label) {
        <a class="nav-item" [class.active]="item.active">
          <span class="nav-icon">
            @if (item.label === 'Dashboard') {
              <i class="fa-solid fa-table-cells"></i>
            } @else if (item.label === 'Expenses') {
              <i class="fa-solid fa-credit-card"></i>
            } @else if (item.label === 'Analytics') {
              <i class="fa-solid fa-chart-column"></i>
            } @else if (item.label === 'Categories') {
              <i class="fa-solid fa-table-cells-large"></i>
            } @else if (item.label === 'Budgets') {
              <i class="fa-solid fa-bullseye"></i>
            } @else if (item.label === 'Recurring') {
              <i class="fa-solid fa-repeat"></i>
            } @else {
              <i class="fa-solid fa-upload"></i>
            }
          </span>
          {{ item.label }}
        </a>
      }
    </nav> -->

    <div class="sidebar-right">
      <app-security-badge />
      <app-language-selector />
    </div>
  </aside>

  <!-- Main content -->
  <div class="main">
    <!-- Top bar -->
    <div class="topbar">
      <div class="greeting">
        <h1>{{ 'greeting.title' | translate }}</h1>
        <p>{{ 'greeting.subtitle' | translate }}</p>
      </div>
      <div class="topbar-right">
        <app-access-token />
        <!-- <button class="icon-btn">
          <i class="fa-solid fa-moon"></i>
        </button>
        <button class="icon-btn">
          <i class="fa-solid fa-circle-info"></i>
        </button>
        <button class="upgrade-btn">
          <i class="fa-solid fa-bolt"></i>
          Upgrade
        </button> -->
      </div>
    </div>

    <!-- Add Expense -->
    <app-add-expense />

    <!-- Quick actions -->
    <app-quick-actions />

    <!-- Stat cards -->
    <app-stats-cards />

    <!-- Charts row -->
    <app-charts />

    <!-- Recent transactions -->
    <app-recent-transactions />

    <!-- Bottom banner -->
    <app-token-banner />

    <!-- Footer -->
    <app-footer />
  </div>
</div>
