@if (!appState.appReady()) {
  <div class="loading-overlay">
    <img class="overlay-logo" src="owl-logo.png" alt="Merva logo" />
    <i class="fa-solid fa-spinner fa-spin overlay-spinner"></i>
  </div>
}
<div class="layout">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="logo">
        <img class="logo-image" src="owl-logo.png" alt="Merva logo"/>
        <h1 class="brand-name">Mervane Expense Tracker =)</h1>
    </div>
    <app-security-badge />
    <div class="nav-controls">
      <app-language-selector />
    </div>
    <div class="sidebar-token">
      <app-access-token />
    </div>

  </aside>

  <!-- Main content -->
  <div class="main">
    <!-- Top bar -->
    <div class="topbar">
      <div class="greeting">
        <h1>{{ 'greeting.title' | translate }}</h1>
        <p>{{ 'greeting.subtitle' | translate }}</p>
      </div>
    </div>

    <!-- AdSense — below header -->
  <div class="ad-container ad-container-top">
    <ins class="adsbygoogle"    
    data-ad-client="ca-pub-8475608120678673"
    data-ad-slot="7076915947"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
  </div>

    <!-- Add Expense -->
    <app-add-expense />

    <!-- Quick actions -->
    <app-quick-actions />

    <!-- Stat cards -->
    <app-stats-cards />

    <!-- AdSense — below stat cards -->
  <div class="ad-container ad-container-card">
    <ins class="adsbygoogle"        
        data-ad-client="ca-pub-8475608120678673"
        data-ad-slot="6452579503"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
  </div>

    <!-- Charts row -->
    <app-charts />

    <!-- Recent transactions -->
    <app-recent-transactions />

    <!-- Bottom banner -->
    <app-token-banner />

    <!-- Footer -->
    <app-footer />
  </div>
</div>
