<div class="card">
  <div class="section-header">
    <span class="section-title">{{ 'transactions.title' | translate }}</span>
    <!-- <a class="view-all" href="#">View all</a> -->
  </div>
  <div class="transactions-list">
    @for (tx of transactions(); track tx.name) {
      <div class="tx-row">
        <div class="tx-icon" [style.background]="tx.bg">
          <i class="fa-solid fa-credit-card" [style.color]="tx.color"></i>
        </div>
        <div class="tx-info">
          <span class="tx-name">{{ tx.name }}</span>
          <span class="tx-meta">{{ tx.date }} &bull; {{ ('category.' + tx.category) | translate }}</span>
        </div>
        <span class="tx-amount">{{ tx.amount }}</span>
      </div>
    }
  </div>
</div>
